/* ======== Reset CSS =========*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Jost", sans-serif;
    color: #212529;
    line-height: 1.5;
    background-color: #fff;
}

/* ============== Nav ================*/
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 80px;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    z-index: 100;
}

.navbar-brand {
    font-size: 36px;
    font-weight: 600;
    color: #189a46;
}

.navbar-brand:hover {
    color: #189a46;
}

.nav-link {
    font-size: 20px;
    color: #212529;
    font-weight: 400;
    transition: all 0.5s;
    padding: 0px 0px !important;
}

.nav-item {
    margin-left: 25px;
}

#navbarScroll {
    gap: 25px;
}

.nav-item:hover .nav-link {
    color: #189a46;
}

.nav-item.active a {
    color: #189a46;
}

@media (min-width: 992px) {
    .nav-item::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #189a46;
        transition: all 0.5s;
    }

    .nav-item:hover::after {
        width: 100%;
    }
}

#navbarScroll form button {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: none;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: rgba(147, 107, 232, 0.05);
}

#navbarScroll form:hover i {
    color: #fff;
}

#navbarScroll form:hover button {
    background-color: #189a46;
}

/* ============= Carousel ================ */
.myCarousel .carousel-item {
    height: clamp(80vh, 70vw, 100vh);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    opacity: 0.6;
}

.carousel-caption {
    z-index: 1;
}

.carousel-caption h5 {
    font-size: clamp(28px, 5vw, 66px);
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.carousel-caption p {
    color: #fff;
    font-size: clamp(16px, 2vw, 19px);
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.4;
    opacity: 0.9;
}

.carousel-item img {
    object-fit: cover;
    object-position: left top;
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    left: 5%;
}

@media (min-width: 920px) {
    .cap2,
    .cap4 {
        left: 40%;
    }
}

.btn {
    font-size: 20px;
    border-radius: 10px;
    margin: 5px;
}

.btn-read {
    color: #189a46;
    background-color: #fff;
    padding: clamp(8px, 1.2vw, 12px) clamp(20px, 2.5vw, 35px) !important;
    font-size: clamp(15px, 1.8vw, 20px);
    border-radius: 10px;
}

.btn-read:hover {
    color: #189a46;
    background-color: #fff;
    padding: 12px 35px;
}

.btn-contact {
    color: #fff;
    border-color: #fff;
    padding: clamp(8px, 1.2vw, 12px) clamp(20px, 2.5vw, 35px) !important;
    font-size: clamp(15px, 1.8vw, 20px);
    border-radius: 10px;
}

.btn-contact:hover {
    color: #189a46;
    background-color: #fff;
}

.carousel-indicators button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    margin: 7px !important;
    opacity: 1 !important;
    transition: all 0.3s ease;
    border: none !important;
    bottom: 10%;
}

.carousel-indicators .active {
    width: 35px !important;
    border-radius: 10px !important;
    background-color: #189a46;
}

.carousel-indicators button:hover {
    width: 35px !important;
    border-radius: 10px !important;
    background-color: #189a46;
}

/* ================== About Us ================= */
@media (min-width: 920px) {
    .about {
        width: 60%;
        margin: auto;
    }
}

.about .title {
    color: #f53626;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
}

.about h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.about p {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-weight: 400;
}

.about a {
    text-decoration: none;
    color: #000c04;
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189a46;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
}

.about a:hover {
    color: #189a46;
}

/* ================== services ===================== */
.services {
    background-color: rgba(147, 107, 232, 0.05);
}

.services .item {
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
}

.services i {
    font-size: 28px;
    color: #189a46;
    margin-bottom: 20px;
}

.services h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.services p {
    font-size: 20px;
    color: #696969;
    margin-bottom: 20px;
    font-weight: 400;
}

.services .item a {
    text-decoration: none;
    color: #000c04;
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189a46;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
}

.services .item a:hover {
    color: #189a46;
}

.services .item:hover {
    background-color: rgba(147, 107, 232, 0.05);
}

.services h3:hover {
    color: #189a46;
}

/* ============== CHoose ================== */
.choose .img img {
    border-radius: 10px;
}

.choose .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.choose h3 {
    font-size: 40px;
    font-weight: bold;
}

.choose .des {
    font-size: 1.2rem;
    color: #696969;
    line-height: 28px;
    margin-bottom: 20px;
    font-weight: 400;
}

.choose ul i {
    margin-right: 10px;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    transition: all 0.5s;
    background: rgba(147, 107, 232, 0.05);
    color: #189a46;
}

.choose ul span {
    font-size: 16px;
    line-height: 26px;
    color: #000c04;
    font-weight: 600;
}

/* ============ Number ================ */
.number {
    background-color: #189a46;
}

.number h3 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.number p {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    opacity: 0.8;
    font-weight: 400;
    text-align: center;
}

.number .item {
    margin-bottom: 20px;
}

@media (min-width: 920px) {
    .number .row {
        width: 80%;
        margin: auto;
    }
    .number h3 {
        font-size: 50px;
        line-height: 60px;
    }

    .number p {
        font-size: 20px;
        margin-top: 10px;
    }
    .number .item {
        margin-bottom: 0;
    }
}

/* ================ Price ================= */
.price {
    background-color: rgba(147, 107, 232, 0.05);
}

.price .container {
    width: 70%;
    margin: auto;
}

.price .sub-title {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #f53626;
}

.price h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #000c04;
}

.price .item {
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
    overflow: hidden;
    transition: all 0.3s ease;
    border: none;
    background-color: white !important;
    margin-top: 20px;
}

.price .item h4 {
    color: #000c04;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.price .num,
.dollar {
    color: #189a46;
}

.price .month {
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}

.price .title {
    margin-bottom: 50px;
}

.price .num {
    font-size: 35px;
    font-weight: 600;
    position: relative;
}

.price .dollar {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: -15px;
}

.price .lists li {
    font-size: 18px;
    line-height: 28px;
    color: #696969;
    margin-bottom: 5px;
    padding: 5px 0px;
}

.price .lists {
    margin-top: 30px;
    margin-bottom: 25px;
}

.price .btn {
    background-color: #189a46;
    color: white;
    font-size: 16px;
}

.price .active {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 2;
    margin-top: -15px;
}

.price .card-header-green {
    background-color: #189a46;
    margin-bottom: 30px;
}

.price .badge-save {
    background-color: #ffffff;
    color: #189a46;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 14px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.price .active h4 {
    color: white;
}

/* ============= Pet Need ================*/
@media (min-width: 920px) {
    .petNeed {
        width: 70%;
        margin: auto;
    }
}

.petNeed .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.petNeed h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #000c04;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.petNeed .des {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-weight: 400;
}

.petNeed .img-wrapper img {
    border-radius: 10px;
    margin-top: 25px;
}

.petNeed .img-wrapper a i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #189a46;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
    animation: play-button-wave 2s infinite;
}

.petNeed .img-wrapper a i:hover {
    color: white;
    color: #189a46;
    scale: 1.1;
}

@keyframes play-button-wave {
    0% {
        box-shadow:
            0 0 0 0 #189a4610,
            0 0 0 0 #189a4610;
    }
    70% {
        box-shadow:
            0 0 0 15px #189a4640,
            0 0 0 30px #189a4640;
    }
    100% {
        box-shadow:
            0 0 0 0 #189a4660,
            0 0 0 0 #189a4660;
    }
}

/* =========== Feedback ================ */
.feedback {
    padding-bottom: 50px;
    background-color: rgba(147, 107, 232, 0.05);
}

.feedback .user-feedback p {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-weight: 400;
    position: relative;
}

.feedback .user-feedback .feedback-content {
    text-indent: 25px;
}

.feedback .user-feedback .feedback-content::before{
    content: "\201c"; 
    position: absolute;
    top: -10px; 
    left: -25px;
    font-size: 60px;
    font-family: Georgia, serif; 
    color: #189a46;
    line-height: 1;
}

.feedback .user-feedback img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.feedback .info {
    margin-top: 5px;
    margin-left: 20px;

}

.feedback .info .name {
    font-weight: 600 !important;
    font-size: 20px;
    color: #000c04 !important;
    margin-bottom: -5px;
}

.feedback .city {
    line-height: 28px;
    font-size: 16px !important;
}

.feedback .carousel-indicators {
    bottom: -70px;
    margin-bottom: 0;
}

.feedback .carousel-indicators button {
    background-color: #ccc !important;
}

.feedback .carousel-indicators .active {
    background-color: #189a46 !important;
}

.feedback .carousel-indicators button:hover {
    background-color: #189a46 !important;
}

.feedback .content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
    text-transform: uppercase;
}

.feedback .content h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

/* ============ updated ============== */
@media (min-width: 920px) {
    .updated {
        width: 50%;
        margin: auto;
    }
}

.updated .content {
    margin-bottom: 40px;
}
.updated h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #000c04;
    margin-bottom: 20px;
}

.updated p {
    font-size: 19px;
    color: #696969;
    font-weight: 400;
}

.updated input {
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid #696969;
    outline: none;
}

.updated input:focus {
    border-color: #189a46;
    box-shadow: none;
}
.updated button {
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #189a46;
    color: white;
    transition: all 0.5s;
}

.updated button:hover{
    background-color:#0f5929 ;
    color: #ffffff;
}

.updated button {
    margin-left: 0px;
}

/* ================= Footer ============== */
footer {
    background-color: #000000;
}

p,
.address,
.phone,
.email,
.icon {
    color: #696969;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 15px;
    font-weight: bold;
}

footer h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

footer span {
    font-weight: 400;
}

footer .value:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
footer .icon i {
    margin-right: 10px;
}

footer .icon i:hover {
    color: white;
}

footer .cpright {
    color: #696969;
    border-top: 1px solid #69696950;
}

footer .cpright span {
    color: #f53626;
}
footer .cpright span:hover {
    text-decoration: underline;
}

/*  */
